@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --gradient: #9796f0;

    --background: 256 48.75% 6.08%;
    --foreground: 256 7.5% 98.8%;

    --muted: 256 37.5% 22.8%;
    --muted-foreground: 256 7.5% 57.6%;

    --popover: 256 50% 9.88%;
    --popover-foreground: 256 7.5% 98.8%;

    --card: 256 50% 9.88%;
    --card-foreground: 256 7.5% 98.8%;

    --border: 256 37.5% 22.8%;
    --input: 256 37.5% 22.8%;

    --primary: 256 75% 76%;
    --primary-foreground: 256 7.5% 7.6%;

    --secondary: 256 37.5% 22.8%;
    --secondary-foreground: 256 7.5% 98.8%;

    --accent: 256 37.5% 22.8%;
    --accent-foreground: 256 7.5% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 7.5% 98.8%;

    --ring: 256 75% 76%;
  }

}

@layer components {}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-3xl bg-background text-foreground;
  }

}

.home-bg {
  background-image: linear-gradient(to top, #000000, #140b0f, #1e131b, #261a27, #2b2136, #29233b, #252540, #1f2845, #16253f, #0e2139, #051e33, #001a2d);
}

.nav-menu {
  @apply text-sm md:text-base  rounded-xl px-3 py-0
}
